# Data Science and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Julia 
- Jupiter Notebook
- Jupiter lab

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. Pandas
3. NumPy

|Data Science Tools| 
| --------------| 
| Apache Spark|
|Tensor Flow  |
| MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [9]:
min = (200)
hours = int (min/60)
print(hours)

3

This will convert 200 minutes to hours by diving by 60

## Author's name is Umut Can